/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
   */
  .App {
    text-align: center;
  }
  
  .App_logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App_logo {
      animation: App_logo-spin infinite 20s linear;
    }
  }
  
  .App_background {
    /* background-color: #282c34; */
    background-color: #555555;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    top: 0px;
  }
  
  .App_link {
    color: #61dafb;
  }
  
  @keyframes App_logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .App_title {
    color: white;
    margin-left: 50px;
    margin-right: auto;
    top: 0px;
  }
  
  .App_header {
    background-color: #353839;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .Header-button {
    margin: 0 auto;
  }

  .Login_box {
    right: 50px;
  }

  .Login_background {
    background-color: #353839;
  }

  .aapp-header {
    padding: 10px;
    background-color: #282c34;
    color: white;
  }
  
  .aapp-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .achat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .message_list {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    bottom: 15%;
    overflow-y: auto;
    max-height: 80%;
    width: 100%;
  }

  .conversation_message {
    position: relative;
    bottom: 0;
    display: inline-block;
    width: auto;
    background-color: #d0d0d0;
    color: #333;
    padding: 0.7rem 1.1rem;
    line-height: 1.25rem;
    border-radius: 1.4rem;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  .conversation_username {
    padding: 0.3rem;
    color: #575757;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: bold;*/
  }

  .text_field {
    width: 100%;
  }

  .text_field_wrapper {
    position: absolute;
    bottom: 5%;
    width: 100%;
  }

  .conversation {
    height: 85%;
    white-space: initial;
  }

  .conversation_container {
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 50vw;
    height: 70vh;
  }